<%- include('partials/header') %>

<%- include('partials/brand') %>

<div class="box">
    <h3><strong><%- statusCode -%> &ndash; <%- message -%></strong></h3>
    <pre><%- error -%></pre>
</div>

<%- include('partials/footer') %>