<%- include('partials/header') %>

<%- include('partials/brand') %>

<div class="box">
    <h2><strong><%= title %></strong></h2>
    <p><%= message %></p>
    <a href="/" class="button button-primary">« Back</a>
</div>

<%- include('partials/footer') %>